
script(src='http://code.jquery.com/jquery-1.6.1.min.js')
script(src='/socket.io/socket.io.js')
script
	var socket = io.connect();
	socket.on('announcement',function(msg){
		$('#lines').append($('<p>').append($('<em>').text(msg)));	
		});
	socket.on('nicknames',function(nicknames){
		$('#nicknames').empty().append($('<span> Online: </span>'));
		for (var i in nicknames){
			$('#nicknames').append($('<b>').text(nicknames[i]+" "));
		}
		});
	socket.on('client message',message);
		socket.on('reconnect', function () {
		$('#lines').remove();
		message('System', 'Reconnected to the server');
		});

		socket.on('reconnecting', function () {
			message('System', 'Attempting to re-connect to the server');
		});

			socket.on('error', function (e) {
				message('System', e ? e : 'A unknown error occurred');
		});

	function message(from,msg){
		$('#lines').append($('<p>').append($('<b>').text(from),msg));
	};
	$(document).ready(function(){
		$('#set_nickname').submit(function(){
			
			socket.emit('nickname',$('#nick').val(),function(valid){
				$('#connecting').css('display','block');
				if(valid){
					$('#message').css('visibility','visible');
					$('#nickname').css('display','none');
				} else {
					$('#nickname-conflict').css('display','block');
				}
				});
				
				return false
			});
		$('#message').submit(function(){
			message("me",$('#message-body').val());
			socket.emit('client message',$('#message-body').val());
			$('#message-body').val('').focus();
			return false;
			});


		
	});


#chat
	#nickname
		form#set_nickname
			p Hey Welcome to my hobby client. Enter a nickname!
			input#nick
	p#nickname-conflict sorry this one's in use		
	#connecting sockets connecting
	#messages
		#nicknames
		#lines
	form#message
		input#message-body
		button Send	