!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	div.container
		div.header
			h3 Olenhad's blog

		div.menu
			u1
				li
					a(href="/") Blog
				li
					a(href="/") Projects
				li
					a(href="/aboutMe") About Me	


					
		body!= body
		

