h1= title
	div.projects
		p Here are some hobby projects I've worked on. You can find them all on 
			a(href="github.com/olenhad")
		div.project
			div.projectTitle
				h2 Chat
			div.projectBody
				p A simple socket.io based chatroom. 

		div.project
			div.projectTitle
				h2 Snake
			div.projectBody
				p A real-time multiplayer snake game
		div.project
			div.projectTitle
				h2 Just Another kernel
			div.projectBody
				p A simple multitasking kernel for an AVR uP			
		div.project
			div.projectTitle
				h2 Xwing
			div.projectBody
				p Space Invader-ish game made using java 